<%= form_with(model: buyhere) do |form| %>
  <% if buyhere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buyhere.errors.count, "error") %> prohibited this buyhere from being saved:</h2>

      <ul>
        <% buyhere.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
